
services:
  #PostgreSQL
  stock-comp-db:
    image: postgres:18.0-alpine3.22
    container_name: postgresql
    environment:
      POSTGRES_DB: "stockdb"
      POSTGRES_USER: "user"
      POSTGRES_PASSWORD: "password"
      POSTGRES_ROOT_PASSWORD: "rootpass"
    ports:
      - "5432:5432"
    volumes:
      - postgresql-volume:/var/lib/postgresql/data

volumes:
  postgresql-volume:
    driver: "local"
